In [1]:
import pandas as pd
import numpy as np
import random

# 1 Simulate Datasets

## 1.1 Training, Validation and Operational Set

In [2]:
# Y: Failure Cause

sample_size = {'engine_set':['training','validation','operational'], 'sample_size':[30,10,100]}
failure_cause = {'failure':['Compressor','Combustor','Turbine']}
#previous_maint = {'prev_maint':['minor','major']}
previous_maint = ['minor','major']
contamination_level = [2,5,15]
#contamination_exposure = {}

In [3]:
sample_size_df = pd.DataFrame(data=sample_size)

In [4]:
sample_size_df.head()

    engine_set  sample_size
0     training           30
1   validation           10
2  operational          100

In [5]:
sample_size2_df = pd.DataFrame()
for i in sample_size_df['engine_set'].unique():
    sample_size_i = sample_size_df[sample_size_df['engine_set']==i].copy()
    for j in sample_size_i['sample_size'].unique():
        sample_size2 = {'engine_set':i,'engine_id':list(range(1,j+1,1))}
        sample_size2_temp = pd.DataFrame(data=sample_size2)
        sample_size2_df = pd.concat([sample_size2_df,sample_size2_temp])

In [6]:
def random_maint(maint_type):
    random_index = random.randrange(len(maint_type))
    return maint_type[random_index]

In [7]:
sample_size2_df['prev_maint'] = sample_size2_df['engine_id'].apply(lambda x : random_maint(previous_maint) )

In [8]:
sample_size2_df.head()

  engine_set  engine_id prev_maint
0   training          1      major
1   training          2      minor
2   training          3      minor
3   training          4      minor
4   training          5      major

In [9]:

randomList = random.choices( 
  contamination_level, weights=(1, 2, 3), k=10) 
  
print(randomList)

[5, 2, 5, 15, 2, 15, 2, 5, 15, 15]

In [10]:
train_val = sample_size2_df[sample_size2_df['engine_set']!='operational'].copy()

In [18]:
train_val['contamination'] = train_val['engine_id'].apply(lambda x : rand_cont(contamination_level) )

In [19]:
train_val.head()

  engine_set  engine_id prev_maint  contamination
0   training          1      major              5
1   training          2      minor              5
2   training          3      minor             15
3   training          4      minor              2
4   training          5      major             15

In [17]:
def rand_cont(cont_level):
    x = random.choices(cont_level, weights=(1, 2, 3), k=1) 
    return x[0]